/**
Only for Admin
*/

.low-stock-email {
    width: 70%;
}

/* table.stock-email-table css */

table.stock-email-table a{
    text-decoration: none;
    font-size: 15px;
    color: gray;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #c850c0;
    background: -webkit-linear-gradient(45deg,#4158d0,#c850c0);
    background: -o-linear-gradient(45deg,#4158d0,#c850c0);
    background: -moz-linear-gradient(45deg,#4158d0,#c850c0);
    background: linear-gradient(45deg,#4158d0,#c850c0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px
}

.wrap-table100 {
    width: 1170px
}

table.stock-email-table {
    border-spacing: 1;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative
}

table.stock-email-table * {
    position: relative
}

table.stock-email-table td,table.stock-email-table th {
    padding-left: 8px
}

table.stock-email-table thead tr {
    height: 60px;
    background: #36304a
}

table.stock-email-table tbody tr {
    height: 50px
}

table.stock-email-table tbody tr:last-child {
    border: 0
}

table.stock-email-table td,table.stock-email-table th {
    text-align: left
}

table.stock-email-table td.l,table.stock-email-table th.l {
    text-align: right
}

table.stock-email-table td.c,table.stock-email-table th.c {
    text-align: center
}

table.stock-email-table td.r,table.stock-email-table th.r {
    text-align: center
}

.wcmmq-table-row th {
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset
}

table.stock-email-table tbody tr:nth-child(even) {
    background-color: #f5f5f5
}

table.stock-email-table tbody tr {
    font-size: 15px;
    color: gray;
    line-height: 1.2;
    font-weight: unset
}

table.stock-email-table tbody tr:hover {
    color: #555;
    background-color: #f5f5f5;
    cursor: pointer
}


@media screen and (max-width: 992px) {
    table.stock-email-table {
        display:block
    }

    table.stock-email-table>*,table.stock-email-table tr,table.stock-email-table td,table.stock-email-table th {
        display: block
    }

    table.stock-email-table thead {
        display: none
    }

    table.stock-email-table tbody tr {
        height: auto;
        padding: 37px 0
    }

    table.stock-email-table tbody tr td {
        padding-left: 40%!important;
        margin-bottom: 24px
    }

    table.stock-email-table tbody tr td:last-child {
        margin-bottom: 0
    }

    table.stock-email-table tbody tr td:before {
        font-size: 14px;
        color: #999;
        line-height: 1.2;
        font-weight: unset;
        position: absolute;
        width: 40%;
        left: 30px;
        top: 0
    }

    table.stock-email-table tbody tr td:nth-child(1):before {
        content: "Sl No"
    }

    table.stock-email-table tbody tr td:nth-child(2):before {
        content: "Product Name"
    }

    table.stock-email-table tbody tr td:nth-child(3):before {
        content: "Email"
    }

    table.stock-email-table tbody tr td:nth-child(4):before {
        content: "Status"
    }

    table.stock-email-table tbody tr td:nth-child(5):before {
        content: "Action"
    }

    table.stock-email-table tbody tr td:nth-child(6):before {
        content: "Others"
    }

    table.stock-email-table tbody tr {
        font-size: 14px
    }
}


