.wpt-custom-popup-area-wrapper{
    display: none;
    background: #00000063;
    position: fixed;
    top: 0;
    left: 0;
    right: unset;
    bottom: unset;
    width: 100%;
    height: 100%;
    z-index: 99999;

}
.wpt-custom-popup-insider{
    background: white;
    width: 800px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 10px 30px 0 #00000054;
    border-radius: 3px;
    /* padding: 10px; */
    position: relative;
}
.wpt-custom-popup-content-area {
    min-height: 80px;
    margin-top: 10px;
    padding: 10px;
}

span.wpt-custom-at-close {
    background: #290101;
    width: 23px;
    height: 23px;
    display: inline-block;
    text-align: center;
    color: white;
    position: absolute;
    line-height: 1;
    right: 4px;
    cursor: pointer;
    top: 4px;
}
span.wpt-custom-at-close:hover {
    background: rgb(161, 1, 1);
}
.wpt-custom-popup-insider>h2 {
    background: red;
    padding-left: 10px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    height: 31px;
    padding-right: 10px;
    overflow: hidden;
}
.wpt-popup-footer {
    margin-top: 25px;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}
.wpt-custom-popup-items input {
    padding: 7px;
}

.wpt-custom-popup-items .wpt-custom-pop-item {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: flex-start;
    /* justify-content: space-between; */
}
span.wpt-pop-each-item-close {
    color: red;
    background: #00000017;
    width: 23px;
    text-align: center;
    line-height: 23px;
    cursor: pointer;
}
.wpt-custom-popup-items input, .wpt-custom-popup-items select {
    padding: 7px !important;
    width: 140px;
    margin-right: 5px;
}